@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

body{
    background-color: #deeeff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    width: 600px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2pc 16px rgb(229, 229, 229);
    border-radius: 20px;
}

.tab-cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 229);
    position: relative;
}

.tab-cont .tab-btn{
    font-size: 18px;
    font-weight: 800;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
    
}.tab-cont .tab-btn:hover{
    color: #503bf5;
    transition: all ease .5s;
}
.tab-cont .active{
    color: #503bf5;
}

.content-box{
    padding: 20px;
}
.content-box .content{
    display: none;
}
.content-box .content.active{
 display: block;
 animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px) ; opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.content-box .content h2{
    margin-bottom: 10px;
}